In [65]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [156]:
datas = pd.read_csv("data/in/met_agenda.csv",delimiter=";")

In [49]:
datas.columns

Index(['Uid', 'Nom', 'Titre', 'Description', 'Description longue',
       'Détail des conditions', 'Ville', 'Agenda d'origine (titre)',
       'Mots clés', 'Date de mise à jour', 'Résumé horaires',
       'Première date - Début', 'Première date - Fin', 'Dernière date - Début',
       'Dernière date - Fin', 'Accessibilité', 'Identifiant du lieu',
       'Coordonnées géographiques', 'Nom du lieu', 'Adresse', 'Arrondissement',
       'Code INSEE', 'Code postal', 'Département', 'Région', 'Pays',
       'Image du lieu', 'Crédits de l'image du lieu', 'Téléphone du lieu',
       'Site web du lieu', 'Liens du lieu', 'Tags du lieu',
       'Description du lieu', 'Accès / Itinéraire',
       'Événement physique ou en ligne', 'Lien d'accès en ligne',
       'État de l'événement', 'Age minimum', 'Age maximum',
       'Agenda d'origine (uid)', 'Contributeur: Email',
       'Contributeur: Téléphone', 'Contributeur: Nom',
       'Contributeur: Fonction', 'Contributeur: organisation', 'Nom du pays',
       'Liens additionnels'],
      dtype='object')

In [50]:
datas.count()

Uid                               14301
Nom                               14301
Titre                             14283
Description                       14282
Description longue                13441
Détail des conditions             11572
Ville                             14254
Agenda d'origine (titre)          13965
Mots clés                          9375
Date de mise à jour               14301
Résumé horaires                   14301
Première date - Début             14301
Première date - Fin               14301
Dernière date - Début             14301
Dernière date - Fin               14301
Accessibilité                      5414
Identifiant du lieu               14301
Coordonnées géographiques         14296
Nom du lieu                       14301
Adresse                           14301
Arrondissement                     5989
Code INSEE                        13947
Code postal                       13858
Département                       14268
Région                            14205
Pays                              14301
Image du lieu                      2827
Crédits de l'image du lieu         1058
Téléphone du lieu                  3211
Site web du lieu                   3184
Liens du lieu                       620
Tags du lieu                        888
Description du lieu                3042
Accès / Itinéraire                 1371
Événement physique ou en ligne    14301
Lien d'accès en ligne                15
État de l'événement               14301
Age minimum                        2823
Age maximum                        4347
Agenda d'origine (uid)            13965
Contributeur: Email                   0
Contributeur: Téléphone               0
Contributeur: Nom                     0
Contributeur: Fonction                0
Contributeur: organisation            0
Nom du pays                       14301
Liens additionnels                 2781
dtype: int64

In [51]:
datas.head()

,Uid,Nom,Titre,Description,Description longue,Détail des conditions,Ville,Agenda d'origine (titre),Mots clés,Date de mise à jour,...,Age minimum,Age maximum,Agenda d'origine (uid),Contributeur: Email,Contributeur: Téléphone,Contributeur: Nom,Contributeur: Fonction,Contributeur: organisation,Nom du pays,Liens additionnels
0,73816325,un-week-end-en-italie-a-la-decouverte-du-prose...,Un week-end en Italie à la découverte du Prose...,Partez à la découverte du Prosecco Superiore a...,"<p>Du 24 au 26 février, La Cité du Vin vous in...",Sur inscription,Bordeaux,Bordeaux Métropole,"cité du vin,bordeaux,tourisme",2020-03-18T15:17:01+01:00,...,NaN,NaN,83549053.0,NaN,NaN,NaN,NaN,NaN,France (Métropole),NaN
1,41611773,salon-du-livre-jeunesse,Salon du livre Jeunesse,Rendez-vous du 23 au 25 mars pour la 16e éditi...,"<p>Cette année, “Cap sur l’Amérique“. Embarque...",NaN,Le Bouscat,Bordeaux Métropole,"livre,jeunesse,culture",2020-03-18T15:17:06+01:00,...,NaN,NaN,83549053.0,NaN,NaN,NaN,NaN,NaN,France (Métropole),NaN
2,77243214,bourse-aux-velos-de-printemps,Bourse aux vélos de printemps,Vous cherchez à vendre ou à acheter un vélo d’...,"<p>Rendez-vous le dimanche 9 avril, pour la bo...",NaN,Bordeaux,Bordeaux Métropole,"Vélo,déplacements,vide-grenier",2020-03-18T15:17:06+01:00,...,NaN,NaN,83549053.0,NaN,NaN,NaN,NaN,NaN,France (Métropole),NaN
3,49315713,bourse-aux-vetements,Bourse aux vêtements,Bourse aux vêtements organisée par l'associati...,<p><strong>Réception :</strong></p>\n<p></p>\n...,NaN,Blanquefort,Ville de Blanquefort,"blanquefort,association",2020-03-18T15:17:08+01:00,...,NaN,NaN,67583854.0,NaN,NaN,NaN,NaN,NaN,France (Métropole),NaN
4,44419746,seance-cine-clin-d-oeil-chez-nous-de-lucas-bel...,"Séance ciné clin d'œil ""Chez Nous"" de Lucas Be...",Séance clin d'œil au cinéma Les Colonnes,"<p>Pauline, infirmière à domicile, entre Lens ...",NaN,Blanquefort,Ville de Blanquefort,"cinéma,blanquefort",2020-03-18T15:17:11+01:00,...,NaN,NaN,67583854.0,NaN,NaN,NaN,NaN,NaN,France (Métropole),NaN

In [52]:
datas.describe()

,Uid,Identifiant du lieu,Code INSEE,Age minimum,Age maximum,Agenda d'origine (uid),Contributeur: Email,Contributeur: Téléphone,Contributeur: Nom,Contributeur: Fonction,Contributeur: organisation
count,1.430100e+04,1.430100e+04,13947.000000,2823.000000,4347.000000,1.396500e+04,0.0,0.0,0.0,0.0,0.0
mean,4.973208e+07,4.728785e+07,33178.828422,9.961389,89.048769,4.403229e+07,NaN,NaN,NaN,NaN,NaN
std,2.893511e+07,2.987330e+07,1972.386278,6.554866,30.567939,3.204198e+07,NaN,NaN,NaN,NaN,NaN
min,7.149000e+03,1.855200e+04,6029.000000,1.000000,2.000000,8.859300e+04,NaN,NaN,NaN,NaN,NaN
25%,2.478998e+07,1.910378e+07,33063.000000,6.000000,99.000000,1.532217e+07,NaN,NaN,NaN,NaN,NaN
50%,4.923936e+07,4.627533e+07,33063.000000,8.000000,99.000000,3.955116e+07,NaN,NaN,NaN,NaN,NaN
75%,7.457567e+07,7.492320e+07,33200.000000,14.000000,99.000000,8.023020e+07,NaN,NaN,NaN,NaN,NaN
max,9.999960e+07,9.992840e+07,86194.000000,65.000000,121.000000,9.956288e+07,NaN,NaN,NaN,NaN,NaN

In [53]:
data_bdx = datas[datas['Ville'] == 'Bordeaux']
data_bdx.describe()

,Uid,Identifiant du lieu,Code INSEE,Age minimum,Age maximum,Agenda d'origine (uid),Contributeur: Email,Contributeur: Téléphone,Contributeur: Nom,Contributeur: Fonction,Contributeur: organisation
count,6.404000e+03,6.404000e+03,6182.000000,1181.000000,1680.000000,6.118000e+03,0.0,0.0,0.0,0.0,0.0
mean,4.952620e+07,4.918104e+07,33063.276771,10.864522,85.823214,3.035888e+07,NaN,NaN,NaN,NaN,NaN
std,2.909621e+07,2.888503e+07,12.827388,6.079998,32.099092,3.119622e+07,NaN,NaN,NaN,NaN,NaN
min,1.751300e+04,7.625900e+04,33063.000000,1.000000,3.000000,8.859300e+04,NaN,NaN,NaN,NaN,NaN
25%,2.427220e+07,2.400465e+07,33063.000000,6.000000,99.000000,4.898229e+06,NaN,NaN,NaN,NaN,NaN
50%,4.919998e+07,4.810915e+07,33063.000000,10.000000,99.000000,2.389035e+07,NaN,NaN,NaN,NaN,NaN
75%,7.491458e+07,7.554734e+07,33063.000000,16.000000,99.000000,4.132776e+07,NaN,NaN,NaN,NaN,NaN
max,9.999960e+07,9.992840e+07,33800.000000,65.000000,121.000000,9.956288e+07,NaN,NaN,NaN,NaN,NaN

In [54]:
data_ville = datas.groupby(['Ville']).count()
data_ville = data_ville[data_ville['Uid'] > 50]

In [2]:
plot = data_ville.plot.pie(y='Uid', figsize=(8, 11))

NameError: name 'data_ville' is not defined